<p>
  lots-list works!
</p>

Page:
<input type="number" [(ngModel)]="page" placeholder="Page">
<br> Amount:
<input type="number" [(ngModel)]="amount" placeholder="Amount">

<input type="button" value="Load Lots" (click)="onLoadLotsClick()">

<div *ngIf="_lots && _lots.length > 0" class="horizontal-list">
  <div class="vertical-list">
    <div *ngFor="let lot of _lots; let i = index" (click)="onSelect(lot)">
      <h2>
        {{lot.Name}}
        <br> Price: {{lot.Price}}
        <br>
      </h2>
      <img *ngIf="lot.LotPhotos && lot.LotPhotos[0]" [src]="lot.LotPhotos[0].Path">
    </div>
  </div>
  <app-lot-details [lot]="selectedLot"></app-lot-details>
</div>