<br> Name:
<input [(ngModel)]="lot.Name" placeholder="Name" type="text">
<br>
<br>Description:
<input [(ngModel)]="lot.Description" placeholder="Description" type="text">
<br>
<br>Category:
<input [(ngModel)]="lot.Category" placeholder="Category" type="text">
<br>
<br>Start price:
<input [(ngModel)]="lot.Price" placeholder="Start price" type="number">
<br>
<br>Currency:
<select [(ngModel)]="lot.Currency">
  <option>UAH</option>
  <option>RUB</option>
  <option>USD</option>
  <option>EUR</option>
</select>
<br>
<br>Minimum bid step:
<input [(ngModel)]="lot.MinStep" placeholder="Minimum bid step" type="number">
<br>
<br>
<input type="checkbox" [checked]="startNow" (change)="startNow = !startNow" />
<label (click)="startNow = !startNow">Start selling right away after adding</label>
<br>
<input type="checkbox" [checked]="!startNow" (change)="startNow = !startNow" />
<label (click)="startNow = !startNow">Indicate the start date of the sale</label>
<br>
<div *ngIf="!startNow">Start date:
  <input [(ngModel)]="lot.StartDate" placeholder="Start date" type="datetime-local">
</div>
<br>

<input type="checkbox" [checked]="determinedSelldate" (change)="determinedSelldate = !determinedSelldate" />
<label (click)="determinedSelldate = !determinedSelldate">Use determined sell date (Lot sells right at specified time)</label>
<br>
<input type="checkbox" [checked]="!determinedSelldate" (change)="determinedSelldate = !determinedSelldate" />
<label (click)="determinedSelldate = !determinedSelldate">Use relative sell date (Lot sells if no bid has been made for a certain period of time)</label>
<br>
<div *ngIf="determinedSelldate">Sell date:
  <input [(ngModel)]="lot.SellDate" placeholder="Sell date" type="datetime-local">
</div>
<div *ngIf="!determinedSelldate">
  Time to place bet:
  <br>Days:
  <input type="number" [(ngModel)]="days">
  <br>Hours:
  <input type="number" [(ngModel)]="hours">
  <br>Minutes:
  <input type="number" [(ngModel)]="minutes">
  <br>Seconds:
  <input type="number" [(ngModel)]="seconds">
</div>
<br>
<br> Maximum 9 MB of photos per request. You can add more photos later in yout profile. Maximum 10 photos per lot.
<br>
<br>
<div *ngFor="let item of getPhotosCount(); let i = index">
  <span *ngIf="lot.LotPhotos[i]">
    <img [src]="lot.LotPhotos[i].Path">
    <input type="button" (click)="removePhoto(i)" value="Remove">
    <br>Photo description:
    <input [(ngModel)]="lot.LotPhotos[i].Description" placeholder="Photo description" type="text">
  </span>
  <input type="file" (change)="onFileChanged($event, i)" accept="image/*" id="input{{i}}">
</div>
<br>
<br>
<input type="button" (click)="addLot()" value="Add lot">
<br>
<br>