<h3>Email: {{_currentUser.Email}} </h3>
<br> Name: {{_currentUser.Name}}
<br>
<br> Surname: {{_currentUser.Surname}}
<br>
<br> Telephone: {{_currentUser.TelephoneNumber}}
<br>
<br>
<input type="button" (click)="loadLots()" value="Load this user lots">
<br>
<br>
<input type="button" (click)="loadComments()" value="Load this user comments">
<br>
<br>
<input type="button" (click)="deleteUser()" value="Delete this user">
<br>
<br>
<app-lots-list *ngIf="showLots" [lots]="_currentUser.Lots" (shouldLoad)="loadLots($event)"></app-lots-list>
<ng-container *ngIf="showComments" class="vertical-list">
  <div *ngFor="let comment of _currentUser.LotComments">
    <h2>Comment</h2>
    <h3>Message: {{comment.Message}}
      <br>Lot id: {{comment.LotId}}
    </h3>
  </div>
</ng-container>