<!--The content below is only a placeholder and can be replaced.-->
<div class="navbar">
  <input type = "button" (click) = "showCreateLot()"value = "AddLot">
  <div>
      <input type = "text" placeholder="Request">
      <input type = "button" value="Search">
  </div>
  <div>
      <input [(ngModel)] = "Id" type="number"placeholder="Id">
      <input type = "button"(click) = "showOneLot()" value="GetById">
  </div>
  <input type = "button" (click) = "showAllLots()" value="All Lots">
  <input type = "button" value="Users">
  <div>
    <input (click) = "showRegister()" type = "button" value="Register">
    <input (click) = "showLogin()" type = "button" value="Login">
  </div>   
</div>
<app-lots-list *ngIf = "allLots"></app-lots-list>
<app-create-lot *ngIf = "createLot"></app-create-lot>
<app-register-user *ngIf = "register"></app-register-user>
<app-login-user *ngIf = "login"></app-login-user>
<app-users-list *ngIf = "allUsers"></app-users-list>
<app-lot-details *ngIf = "oneLot" [lot] = "lotById"></app-lot-details>