<input *ngIf="!show && _lot" type="button" (click)="onShowClick()" value="Load details">

<div *ngIf="show" (mouseenter)="startRefreshing()" (mouseleave)="stopRefreshing()">
  <h2>{{_lot.Name | uppercase}} Details</h2>
  <div>
    <span>id: </span>{{_lot.Id}}</div>
  <h3>
    Description: {{_lot.Description}}
    <br>
    <br> Category: {{_lot.Category}}
    <br>
    <br> Last price: {{_lot.Price}} {{_lot.Currency}}
    <br>
    <br>Buyer:
    <label *ngIf="_lot.BuyerUser"> {{_lot.BuyerUser.Name}} {{_lot.BuyerUser.Surname}}</label>
    <label *ngIf="!_lot.BuyerUser"> None</label>
    <br>
    <br> Seller: {{_lot.SellerUser.Name}} {{_lot.SellerUser.Surname}}
    <br>
    <br>
    <label *ngIf="_lot.BidPlacer == 'Determined' || !_lot.BuyerUserId">Start date: {{getStartDate()}}</label>
    <label *ngIf="_lot.BidPlacer == 'Relative' && _lot.BuyerUserId">Last bid date: {{getStartDate()}}</label>
    <br>
    <br> Sell date: {{getSellDate()}}
    <br>
    <br> Step for bet: {{_lot.MinStep}}
    <br>
    <br>
  </h3>
  <div *ngFor="let photo of _lot.LotPhotos">
    <img [src]="photo.Path">
    <br> Description: {{photo.Description}}
    <br>
  </div>
  <h1>
    Time left: {{timeToSell}}
  </h1>
  My bid:
  <div (mouseenter)="refreshShortBid()">
    <input type="number" [(ngModel)]="bid">
    <input type="button" (click)="confirmBid()" value="Confirm bid">
  </div>
  <h2>Comments</h2>
  <input [(ngModel)]="comment.Rating" type="number" placeholder="Mark">
  <br>
  <br>
  <input [(ngModel)]="comment.Message" type="text" placeholder="Message">
  <br>
  <br>
  <input type="button" (click)="addComment()" value="Add comment">
  <br>
  <br>Page:
  <input type="number" [(ngModel)]="commentPage">
  <input type="button" (click)="loadComments()" value="Load comments page">
  <br>
  <div *ngFor="let comment of _lot.LotComments">
    Rating: {{comment.Rating}}
    <br>Message: {{comment.Message}}
    <br>Left by: {{comment.User.Name}} {{comment.User.Surname}}
  </div>
  <br>
</div>