<p>
  lot-details works!
</p>
<input *ngIf="!show && _lot" type="button" (click)="onShowClick()" value="Load details">

<div *ngIf="show">
  <h2>{{_lot.Name | uppercase}} Details</h2>
  <div>
    <span>id: </span>{{_lot.Id}}</div>
  <h3>
    Description: {{_lot.Description}}
    <br>
    <br> Category: {{_lot.Category}}
    <br>
    <br> Last price: {{_lot.Price}}
    <br>
    <br> Last price by: {{_lot.BuyerUserId}}
    <br>
    <br> Seller user: {{_lot.SellerUser.Name}}
    <br>
    <br> Start date: {{_lot.StartDate}}
    <br>
    <br> Sell date: {{_lot.SellDate}}
    <br>
    <br> Step for bet: {{_lot.MinStep}}
    <br>
    <br>
  </h3>
  <h2>Comments</h2>
  <input [(ngModel)]="comment.Rating" type="number" placeholder="Mark">
  <br>
  <br>
  <input [(ngModel)]="comment.Message" type="text" placeholder="Message">
  <br>
  <br>
  <input type="button" (click)="addComment()" value="Add comment">
  <div *ngFor="let photo of _lot.LotPhotos">
    <img [src]="photo.Path">
    <br> Description: {{photo.Description}}
    <br>
  </div>
  <div *ngFor="let comment of _lot.LotComments">
    Message: {{comment.Message}} By: {{comment.User.Name}} {{comment.User.Surname}}
  </div>
  <input *ngIf="commentPage != -1" type="button" (click)="loadComments()" value="Load more comments">
</div>