<input *ngIf="!show && _lot" type="button" (click)="onShowClick()" value="Load details">

<div *ngIf="show">
  <h2>{{_lot.Name | uppercase}} Editor</h2>
  <div>
    <span>id: </span>{{_lot.Id}}</div>
  <h3>
    Description:
    <input type="text" [(ngModel)]="_lot.Description">
    <br>
    <br> Category:
    <input type="text" [(ngModel)]="_lot.Category">
    <br>
    <br> Last price:
    <input *ngIf="!_lot.BuyerUserId" type="number" [(ngModel)]="_lot.Price">
    <input *ngIf="_lot.BuyerUserId" placeholder="{{_lot.Price}}" disabled>
    <br>
    <br> Currency:
    <select *ngIf="!_lot.BuyerUserId" [(ngModel)]="_lot.Currency">
      <option>UAH</option>
      <option>RUB</option>
      <option>USD</option>
      <option>EUR</option>
    </select>
    <input *ngIf="_lot.BuyerUserId" placeholder="{{_lot.Currency}}" disabled>
    <br>
    <br> Buyer:
    <label *ngIf="_lot.BuyerUser"> {{_lot.BuyerUser.Name}} {{_lot.BuyerUser.Surname}}</label>
    <label *ngIf="!_lot.BuyerUser"> None</label>
    <br>
    <br> Seller: {{_lot.SellerUser.Name}} {{_lot.SellerUser.Surname}}
    <br>
    <br> Start date:
    <input *ngIf="canChangeStartDate()" type="datetime-local" [(ngModel)]="_lot.StartDate">
    <input *ngIf="!canChangeStartDate()" placeholder="{{getStartDate()}}" disabled>
    <br>
    <br> Sell date:
    <input *ngIf="!_lot.BuyerUserId && _lot.BidPlacer != 'Relative'" type="datetime-local" [(ngModel)]="_lot.SellDate">
    <input *ngIf="_lot.BuyerUserId || _lot.BidPlacer == 'Relative'" placeholder="{{getSellDate()}}" disabled>
    <br>
    <br> Step for bet:
    <input *ngIf="!_lot.BuyerUserId" type="number" [(ngModel)]="_lot.MinStep">
    <input *ngIf="_lot.BuyerUserId" placeholder="{{_lot.MinStep}}" disabled>
    <br>
    <br>
  </h3>

  <input type="button" (click)="deleteLot()" value="Delete this lot">
  <input type="button" (click)="updateLot()" value="Confirm changes">
  <br>
  <br> Maximum 9 MB of photos per request. You can add more photos by sending 2 or more requests. Maximum 10 photos per lot.
  <br>
  <br>
  <div *ngFor="let photo of _lot.LotPhotos">
    <img [src]="photo.Path">
    <br>Photo description: {{photo.Description}}
    <br>
    <input type="button" (click)="deletePhoto(photo.Id)" value="Delete this photo">
  </div>
  <div *ngFor="let item of getPhotosCount(); let i = index">
    <span *ngIf="lotPhotos[i]">
      <img [src]="lotPhotos[i].Path">
      <input type="button" (click)="removePhoto(i)" value="Remove">
      <br>Photo description:
      <input [(ngModel)]="lotPhotos[i].Description" placeholder="Photo description" type="text">
    </span>
    <input type="file" (change)="onFileChanged($event, i)" accept="image/*" id="input{{i}}">
  </div>
  <br>
  <br>
  <input type="button" (click)="loadPhotos()" value="Add photos">
</div>