.vertical-list{
    width: 25%;
    min-width: 300px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.horizontal-list{
    display: flex;
    min-width: 300px;
}

.details{
    flex-grow: 1;
}

span {
    display: inline-block;
}
img {
    width: 100%;
}